:root{
    --primary-color: #086db5;
}

    .content-01 {
        border-right: 2px solid #ccc;
        margin: 20px 10px !important;
    }

    .content-02 {
        margin: 20px 10px !important;
    }

.header {
    min-width: 100px;
    height: 50px;
    color: var(--primary-color);
    font-weight: 500;
}

.text {
    min-width: 150px;
    height: 50px;
    float: left;
    font-weight: 400;
    color: #000;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
}

.btn-evaluete {
    width: 300px !important;
    height: 50px !important;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
   

}

.btn-evaluete:hover {
    cursor: pointer;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    font-weight: 500;
}

.btn-evaluete svg {
    width: 30px;
    height: 30px;
    fill: var(--primary-color);
    margin-right: 10px;
}


@media (max-width: 768px) {
    .home-section {
        padding: 10px;
    }

    .content-01, .content-02 {
        margin: 20px 0;
        border-right: none;
    }

    .header-lable, .header-lable--link, .text-content {
        width: auto;
        height: auto;
        margin-left: 0;
    }

    .row-content, .row-address {
        flex-direction: column;
        align-items: flex-start;
    }


    .header-content--02 svg {
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    .header-02 {
        font-size: 16px;
    }

    .header-lable, .header-lable--link, .text-content {
        font-size: 14px;
    }
}